[submodule "cmsis"]
	path = contrib/cmsis/git
	url = https://github.com/ARM-software/CMSIS_5
[submodule "contrib/cmock/git"]
	path = contrib/cmock/git
	url = https://github.com/ThrowTheSwitch/CMock
[submodule "arch/none/sp/tftf"]
	path = product/secure-partition/common/tee
	url= https://github.com/vingu-linaro/tf-a-tests.git
